<div class="board">
  <div class="board_header">
    <h1>Kanban Board</h1>
    <p>Smart task management with AI-assisted prioritization</p>
  </div>

  <div class="board_columns"  cdkDropListGroup>
    @for (column of columns(); track column.id) {
      <div class="board_column">
        <h2>{{ column.title }}</h2>

        <!-- Add Task only in To Do column -->
        @if (column.id === 'todo') {
          <div class="add-task">
            <input
              type="text"
              placeholder="Add a new task..."
              [(ngModel)]="newTaskTitle"
              (keydown.enter)="onAddTask()"
            />
            <button type="button" (click)="onAddTask()">Add</button>
          </div>
        }

        <div
          class="task-list"
          cdkDropList
          [cdkDropListData]="getTasksSignal(column.id)()"
          [id]="column.id"
          (cdkDropListDropped)="drop($event, column.id)"
        >
          @for (task of getTasksSignal(column.id)(); track task.id) {
            <app-task-card
              [task]="task"
            ></app-task-card>
          } @empty {
            <p class="empty-state">No tasks yet.</p>
          }
        </div>
      </div>
    }
  </div>
</div>
